doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.heading
			div.floatright
				if user
					span Hello, #{user.fullname}!  Click to&nbsp;
						a(href="/favorites") view your favorites.
					br 
					span Or&nbsp;
						a(href="/logout") log out.
				else
					a(href="/login") Log in or register
			h1 #{title}
			p Welcome to #{title}!

		block content

#footer
	p Navigation: 
		a(href="/") Home
		span &nbsp;-&nbsp;
		a(href="/about") About
		span &nbsp;-&nbsp;
		a(href="/search") Search Archives 
		span.floatright &nbsp;&nbsp;&nbsp;&nbsp;News Sources: 
			a(href="https://www.bing.com/news") Bing News
			span &nbsp;-&nbsp; 
			a(href="http://www.theguardian.com") The Guardian
			span &nbsp;-&nbsp; 
			a(href="http://www.nytimes.com") The New York Times