doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.heading
			div.floatright
				if user
					span Hello, #{user.fullname}!  You can:&nbsp;
					ul
						li
							a(href="/favorites") View your favorites.
						li
							a(href="/user") Update your user information.
						li
							a(href="/logout") Log out.
				else
					a(href="/login") Log in or register
			h1 #{title}
			p Welcome to #{title}!

		block content

#footer
	p Navigation: 
		a(href="/") Home
		span &nbsp;-&nbsp;
		a(href="/about") About
		span &nbsp;-&nbsp;
		a(href="/search") Search Archives 
		span.floatright &nbsp;&nbsp;&nbsp;&nbsp;News Sources: 
			a(href="https://www.bing.com/news") Bing News
			span &nbsp;-&nbsp; 
			a(href="http://www.theguardian.com") The Guardian
			span &nbsp;-&nbsp; 
			a(href="http://www.nytimes.com") The New York Times