extends layout

block content
	h2 Login to view favorites

	form(id="login" name="login" action="/login")
		label Username
		input#username(type="text" name="username")
		br
		label Password
		input#password(type="password" name="password")
		// we want to hash the pwd so that it doesn't go over in plaintext
		br
		button#login(name="login" value="login")
		button#signup(name="signup" value="signup")
