extends layout

block content
	h2 Search the #{title} archives
	form(id="searchArchive" action="/searchArchive" method="GET")
		table
			tbody
				tr
					td
						input(type="radio" name="searchType" id="searchBefore" value="before" checked)
						label Before
						br
						input(type="radio" name="searchType" id="searchAfter" value="after")
						label After
						br
						input(type="radio" name="searchType" id="searchBetween" value="between")
						label Between
					td(align="center")
						input(name="firstdate" id="firstdate" type="date" required)
						br
						span#secondDate AND
							br 
							input(name="seconddate" id="seconddate" type="date" required=false)
					td
						button(type="submit" name="doSearch" id="doSearch" value="Search") Search the<br>Archive

	hr

	if queryText
		p Results found #{queryText}:
	else
		p Results will display here.

	if headlines	
		p #{headlines}

	script(src="/javascripts/search.js" type="text/javascript")